.searchflex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}.formuser{
    display: flex
    ;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
}