* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.content {
    min-height: 100%;
    padding-bottom: 50px; /* Add space for the footer */
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
<<<<<<< HEAD
    background-color:red;
=======
    background-color:rgba(245, 154, 35, 1);
>>>>>>> 8eccebdcf9e512e252379c259a47eaee57446794
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}
